@use '../global/index' as global;

.demo--barebone {
  .ui-scroll--wrapper {
    position: relative;
    width: 320px;
    height: 320px;
    /* Prevent native touch events on Windows */
    -ms-touch-action: none;
    /* Prevent the callout on tap-hold and text selection */
    user-select: none;
    /* Prevent text resize on orientation change, useful for web-apps */
    text-size-adjust: none;
  }
  .ui-scroll--scroller {
    padding: global.rem(10);
    /* Put the scroller into the HW Compositing layer right from the start */
    transform: translateZ(0);
  }
  p {
    margin-bottom: global.rem(10);
  }
}
