.demo--infinite {
  .ui-scroll--scroller {
    transform: translateZ(0);
    ul {
      position: relative;
    }
    li {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      transform: translateZ(0);
    }
  }
}
