@use '../global/index' as global;

.demo--simple {
  width: 100%;
  height: 100%;
  .balm-scroll--header {
    flex-direction: column;
    justify-content: space-around;
    height: global.rem(88);
  }
  .mdc-tab__content {
    font-size: 14px;
  }
}
