$balm-scroll-pull-area-height: 40px !default;
$balm-scroll-pull-area-padding: 0 10px !default;
$balm-scroll-pull-area-bgcolor: #fff !default;
$balm-scroll-pull-area-color: gray !default;

/* BalmScroll styles */
.ui-scroll--wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  overflow: hidden;
}

.ui-scroll--scroller {
  position: absolute;
  z-index: 1;

  width: 100%;
  padding: 0;

  /* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/**
 * Pull styles
 */

.ui-scroll--pull-area {
  background: $balm-scroll-pull-area-bgcolor;
  height: $balm-scroll-pull-area-height;
  line-height: $balm-scroll-pull-area-height;
  padding: $balm-scroll-pull-area-padding;
  font-weight: bold;
  font-size: 14px;
  color: $balm-scroll-pull-area-color;
  .ui-scroll--pull-icon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(../images/pull-icon@2x.png) 0 0 no-repeat;
    background-size: 40px 80px;
    transition-property: -webkit-transform;
    transition-duration: 250ms;
  }
}
.ui-scroll--pull-down-icon {
  transform: rotate(0deg) translateZ(0);
}
.ui-scroll--pull-up-icon {
  transform: rotate(-180deg) translateZ(0);
}

/**
 * Pull animation effect
 */
.ui-scroll--pull-down.flip .ui-scroll--pull-down-icon {
  transform: rotate(-180deg) translateZ(0);
}
.ui-scroll--pull-up.flip .ui-scroll--pull-up-icon {
  transform: rotate(0deg) translateZ(0);
}
.ui-scroll--pull-area.loading {
  .ui-scroll--pull-down-icon,
  .ui-scroll--pull-up-icon {
    background-position: 0 100%;
    transform: rotate(0deg) translateZ(0);
    transition-duration: initial;

    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg) translateZ(0);
  }
  to {
    transform: rotate(360deg) translateZ(0);
  }
}
