.container {
  display: flex;
  height: 100vh;
  font-size: rem(14);
}

.demo-main {
  display: flex;
}

.balm-scroll--header,
.balm-scroll--footer {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  width: 100%;
  background: white;
}

.balm-scroll--header {
  top: 0;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cd235c;
  color: #eee;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.balm-scroll--footer {
  bottom: 0;
  height: 64px;
  background: #444;
  color: white;
  border-top: 1px solid #444;
}

.ui-scroll,
.ui-scroll-probe,
.ui-scroll-infinite {
  top: 64px;
  bottom: 64px;
}

.ui-scroll--wrapper {
  background: #ccc;
}

.ui-scroll--scroller {
  user-select: none;
  text-size-adjust: none;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
  }
  li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
  }
}
