a {
  color: $mdc-theme-primary;
}
html,
body {
  height: 100%;
}

.balmui-container {
  height: 100%;
  font-size: 14px;
}

.mdc-top-app-bar__title {
  font-size: 20px;
}

.balmui-body {
  display: flex;
  height: 100%;
}

.balmui-menu {
  position: static;
  z-index: 0;
}

.balmui-menu .mdc-drawer__content,
.balmui-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.balmui-content {
  position: relative;
  flex: 1;
}

.catalog-list {
  h3 {
    padding: 0 rem(12);
    font-size: 18px;
    line-height: 1;
  }
  .mdc-list-item {
    font-size: 14px;
    padding-left: 40px;
  }
}

.balm-scroll--header,
.balm-scroll--footer {
  position: relative;
  z-index: 2;
  width: 100%;
  background: white;
}

.balm-scroll--header {
  top: 0;
  height: rem(64);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cd235c;
  color: #eee;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.balm-scroll--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: rem(64);
  background: #444;
  color: white;
  border-top: 1px solid #444;
}

.ui-scroll,
.ui-scroll-probe,
.ui-scroll-infinite,
.ui-scroll-lite {
  top: rem(64);
  bottom: rem(64);
}

.ui-scroll--wrapper {
  background: #ccc;
}

.ui-scroll--scroller {
  user-select: none;
  text-size-adjust: none;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
  }
  li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
  }
}
